---
- name: Create project directory
  tags: "docker"
  become: yes
  file:
    path: "{{ project_dir }}"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    recurse: yes
    state: directory

- name: Configure compose
  tags: "docker"
  become: yes
  template:
    src: docker-compose.yml.j2
    dest: "{{ project_dir }}/docker-compose.yml"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"

- name: Run docker compose
  tags: "docker"
  become: yes
  docker_compose:
    project_src: "{{ project_dir }}"
    pull: yes
    state: present
    remove_orphans: yes
    recreate: always
