---
- name: Create project directory
  tags: "docker"
  become: yes
  file:
    path: "{{ project_dir }}"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    recurse: yes
    state: directory

- name: Configure compose
  tags: "docker"
  become: yes
  template:
    src: docker-compose.yml.j2
    dest: "{{ project_dir }}/docker-compose.yml"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"

- name: Run docker compose
  tags: "docker"
  become: yes
  docker_compose:
    project_src: "{{ project_dir }}"
    pull: yes
    state: present
    remove_orphans: yes
    recreate: always

- name: Wait for restart
  pause:
    seconds: 15

- name: Bind the clustered interface to all IP addresses availble on this machine
  tags: "couchdb"
  command: curl -X PUT http://{{ database_user }}:{{ database_password }}@127.0.0.1:5984/_node/_local/_config/chttpd/bind_address -d '"0.0.0.0"'

- name: Bind the clustered interface to all IP addresses availble on this machine
  tags: "couchdb"
  command: curl -X PUT http://{{ database_user }}:{{ database_password }}@127.0.0.1:5984/_node/_local/_config/httpd/bind_address -d '"0.0.0.0"'

- name: Set the UUID of the node to
  tags: "couchdb"
  command: curl -X PUT http://{{ database_user }}:{{ database_password }}@127.0.0.1:5984/_node/_local/_config/couchdb/uuid -d '"{{ database_uuid }}"'

- name: Set the shared http secret for cookie creation
  tags: "couchdb"
  command: curl -X PUT http://{{ database_user }}:{{ database_password }}@127.0.0.1:5984/_node/_local/_config/couch_httpd_auth/secret -d '"{{ database_secret }}"'
