version: "3.6"

services:
  couchdb:
    image: apache/couchdb:latest
    environment:
      - COUCHDB_USER={{ database_user }}
      - COUCHDB_PASSWORD={{ database_password }}
    ports:
      - "5984:5984"
    volumes:
      - {{ couchdb_dir }}:/opt/couchdb/data
