---
- name: Create App directory
  tags: "app"
  become: yes
  file:
    path: "{{ app_dir }}"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    recurse: yes
    state: directory

- name: Configure compose
  tags: "app"
  become: yes
  template:
    src: docker-compose.yml.j2
    dest: "{{ app_dir }}/docker-compose.yml"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"

- name: Run docker compose
  tags: "app"
  become: yes
  docker_compose:
    project_src: "{{ app_dir }}"
    pull: yes
    state: present
    remove_orphans: yes
    recreate: always
