version: '3.6'

services:
  couchdb:
    image: couchdb:latest
    restart: always
    environment:
      COUCHDB_USER: {{ couchdb_user }}
      COUCHDB_PASSWORD: {{ couchdb_password }}
    ports:
      - 5984:5984
      - 5986:5986
    volumes:
      - {{ couchdb_dir }}:/opt/couchdb/data
